@{
    ViewData["Title"] = "Home Page";
}
<h1>Hotel Reservation </h1>
<p>
    Seminarski rad iz predmeta RKS, radi se o Android aplikaciji za rezervaciju soba u Hotelu.
    Kratki opis funkcionalnosti:
    <ul>
        <li>Logiranje/Registracija </li>
        <li>Pregled liste soba</li>
        <li>Pregled detalja o sobi</li>
        <li>Dodavanje nove rezervacije</li>
        <li>Pregled i upravljanje rezervacijama</li>im
    </ul>


</p>
<h3>Link za download aplikacije:</h3>
<a href="https://edufit-my.sharepoint.com/:u:/g/personal/samra_kolasinac_edu_fit_ba/Ef0cEl2gL6pHt7zc0IIog_sBIRg8BnpkyuTnGMXVLr1N8w?e=ZwLH8B">Hotel Reservation apk file</a> <br />
<h3>Link za ulaz u aplikaciju preko online emulatora:</h3>
<a href="https://appetize.io/app/76w4xzchz9wrcxj1yk51xezcz4">Hotel Reservation Online Emulator</a> <br />
<br />
<h4><strong>Podaci za logiranje:</strong></h4>
<p> Username:Samra</p>
<p> Password:test</p>
<br />
<h4><strong>Sourcecode::</strong></h4>
<a href="https://github.com/samra99/eHotelAndroidApp">Hotel_Reservation_Android</a> <br />
<a href="https://github.com/samra99/eHotelWebAPI">Hotel_Reservation_WebAPI</a>